<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="daa2b3">  <td>22/11/08 14:39:32</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.setup()[pri:0, instance:tests.Tests@3b0fe47a]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1534754611</td>   <td></td> </tr>
<tr bgcolor="daa2b3">  <td>22/11/08 14:39:38</td>   <td>6590</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BaseClass.sampleTest()[pri:0, instance:tests.Tests@3b0fe47a]">sampleTest</td> 
  <td>main@1534754611</td>   <td></td> </tr>
<tr bgcolor="bce87c">  <td>22/11/08 14:39:38</td>   <td>6601</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tests.TS1()[pri:0, instance:tests.Tests@3b0fe47a]">TS1</td> 
  <td>main@1534754611</td>   <td></td> </tr>
<tr bgcolor="daa2b3">  <td>22/11/08 14:39:38</td>   <td>6627</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass.teardown()[pri:0, instance:tests.Tests@3b0fe47a]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1534754611</td>   <td></td> </tr>
</table>
